body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color:#555;
    text-align: center;
  }

.container {
  padding-top: 4em;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #555;
  
}

h1 {
  font-size: 3em;
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
  letter-spacing: -2px;
  color: #100;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color:#555;
  }

.descriptionOfItem {
    font-size:large;
    text-align: center;
    letter-spacing: 0em;
  }

.largeTextArea {
    font-size: medium;
    text-align:center;
    letter-spacing: 0em;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  display: table-row;
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom {
  width: 100%;
  background-color: antiquewhite;
  padding: 15px 0;
}
