{% extends "layout.html" %}
{% block content %} 
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>
<div class="container">
	{% if session.user_id %}
	<div class="col py-3 px-lg-5 border bg-light">
	  <h3>Logged in as {{ session.user_name }}</h3>
	</div>
	{% else %}
	<a href="/login">Log in...</a>	 <a href="/register">Or register as a new user!</a>
	{% endif %}
</div>
{% endblock %}
