<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/main.css') }}">
</head>

<body>
	<h1> Welcome to UniMarket! </h1>
	<h3> UniMarket is a portal for buying and selling used items. </h3>	
    {% block title %} {% endblock %}		

    {% block content %} {% endblock %}
	<div class="bottom">
		UniMarket is a Tietokantasovellus-project for University of Helsinki.
	</div>
</body>
</html>