<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/main.css') }}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
          <a class="navbar-brand" href="/">Front page</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/showAll">Show all items for sale</a>
            </li>
            {% if not session.user_id %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
            {% if session.user_id%}
            <li class="nav-item">
              <a class="nav-link" href="/sell">Sell your items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myitems">My items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% endif %}
          </ul>
        </nav>
	<h1> Welcome to UniMarket! </h1>
	<h3> UniMarket is a portal for buying and selling used items. </h3>	
    {% block title %} {% endblock %}		

    {% block content %} {% endblock %}
    <div class="bottom">
        <div class="row align-items-end">
            <div class="col">
                UniMarket is a Tietokantasovellus-project for University of Helsinki.
            </div>
        </div>
    </div>
</body>
</html>