<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
	<title> My items for sale</title>
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/main.css') }}">
</head>

<body>
    <h3>My items for sale:</h3>
    {% for item in myitems %}
    <p>{{item.header}}</p>
    <a href="/object/{{item.id}}">Go to</a>
    {% endfor %}
    <hr>
    <div class="bottom">
        UniMarket is a Tietokantasovellus-project for University of Helsinki.
    </div>
</body>
</html>