<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Form to post a photo</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/main.css') }}">
    </head>

    <body>
        <p> Adding a photo is always a good idea</p> <br>
		<form action="/postphoto" method="POST" enctype="multipart/form-data">
			File: <input type="file" name="file">
			<input type="submit" value="Send">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="id" value="{{id}}">
		</form>
        <a href="/showAll"> Go back to all items</a>
    </body>



</html>