{% extends "layout.html" %}
{% block title %} <h1> List of items for sale </h1> {% endblock %}
{% block content %}
<div class="container px-lg-5">
	<div class="row mx-lg-n5">
	  <div class="col py-3 px-lg-5 border bg-light">
		<h5>Look for an item</h5>
		<form action="/query">
		<input type="text" name="query">
		<input type="submit" value="Send">
		</form>
	  </div>
	  <div class="col py-3 px-lg-5 border bg-light">
		<h3>Items for sale:</h3>
		<ul>
		{% for result in headers %}
		<li>{{result.header}} <a href="/object/{{result.id}}">To item page</a> </li>
		{% endfor %}
		</ul>
	  </div>
	</div>
  </div>
{% endblock %}
			
			

			
			
