{% extends "layout.html" %}
{% block title %} <h1> List of items for sale </h1> {% endblock %}
{% block content %}
<div class="container px-lg-5">
	<div class="row mx-lg-n5">
	  <div class="col py-3 px-lg-5 border bg-light">
		<form action="/query">
		  <div class="form-group col-12">
			<input type="text" class="form-control" name="query" placeholder="Search for an item">
		  </div>
		  <div class="form-group col-12">
			<button type="submit" class="btn btn-primary">Send</button>
		  </div>
		</form>
	  </div>
	</div>
</div>
{% if all_items %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
			{% for result in all_items %}
			<tbody>
				<tr>
					<td><a href="/object/{{result.id}}">{{result.header}}</a></td>
					<td>{{result.location}}</td>
				</tr>
			</tbody>
			{% endfor %}
			{% else %}
			<h3>No items for sale yet</h3>
			{% endif %}
		</table>
{% endblock %}
			
			

			
			
